# **Lessson 20: Validation and Verification**
This lesson focuses on validation and verification.

## **Related Readings**
[Reading 9](https://github.com/ashleefv/ApplNumComp/blob/master/RecommendedReading.md#reading-9)

## **Instructional Videos**
* [Student examples of validation and verification](https://www.youtube.com/watch?v=60tMapC53Sw&ab_channel=AshleeN.FordVersypt) 

[![](http://img.youtube.com/vi/60tMapC53Sw/0.jpg)](http://www.youtube.com/watch?v=60tMapC53Sw "")
* NOTE: This is an audio recording of a pre-COVID synchronous class session. As such the audio may be a bit spotty, and the use of captions is recommended.

## **Reflection**
* Do you have any experience with validation or verification of computer models?
* Can you think of an example relevant to your field that is similar to the examples provided by the students in the video?
*  [Software Testing](https://www.softwaretestinghelp.com/what-is-verification-and-validation/) has a good definition of the difference

## **Validation and Verification**
* This lesson's instructional video features a student-led discussion of validation and verification where they found examples relevant to their research or an area of personal interest
* Definitions
      * Verification involves determining if the model properly solves the equations it set out to solve
      * Validation involves comparing a model to observations to determine if the model is a reasonable approximation to some phenomena, experiment, physical, chemical, or biological system
  * Case Studies
    * [Reading 9](https://github.com/ashleefv/ApplNumComp/blob/master/RecommendedReading.md#reading-9) has some very good examples
    * [Dr. Ford Versypt's Dissertation Chapter on Verification](http://hdl.handle.net/2142/30970)

## **Previous Lesson**
 * [L19 GUIs in Python](/L19%20GUIs%20in%20Python.md)

## **Next Lesson**
 * [L21 Agent Based Modeling and Open Source Software](/L21%20Agent%20Based%20Modeling%20and%20Open%20Source%20Software.md)
