# **Lessson 20: Validation and Verification**
This lesson focuses on validation and verification.
### **Introductory Videos**
 * [Examples of open source software](https://www.youtube.com/watch?v=60tMapC53Sw&feature=emb_title&ab_channel=AshleeN.FordVersypt)
  
  [![](http://img.youtube.com/vi/60tMapC53Sw/0.jpg)](http://www.youtube.com/watch?v=60tMapC53Sw "")
  Note: This video was an audio recording from a previous class, recorded during a Pre-COVID session. There are audio issues, it is encouraged to utilize the auto-captioning for assistance in comprehension.
#### **Comprehension Check**
   * Do you have any experience with validation or verification of computer models?
   * Can you think of an example relevant to your field that is similar to the examples provided by the students in the video?
   *  [Software Testing](https://www.softwaretestinghelp.com/what-is-verification-and-validation/) has a good definition of the difference
### **Validation and Verification**
* This lesson's introductory video contains is longer and more in-depth. It demonstrates a student led discussion of validation, where they found sources of validation or verification that was pertinent to their research or an aera of personal interest.
  * Definitions
    * Validation
    * Verification
    * The difference between the two and importance of each
      * Validation is ensuring model works correctly the way it is expected to
      * Verification ensures model is useful beyond the data used to develop it.
  * Case Studies
    * [Reading 9](/RecommendedReading.md) has some very good examples
    * [Disseration Chapters on Validation and Verification](https://www.sciencedirect.com/science/article/abs/pii/S0168365912007353?via%3Dihub)

### **Additional Resources**
* None for this lesson

### **Previous Lesson**
 * [L19 GUIs in Python](/L19%20GUIs%20in%20Python.md)
### **Next Lesson**
 * [L21 Agent Based Modeling and Open Source Software](/L21%20Agent%20Based%20Modeling%20and%20Open%20Source%20Software.md)
